[report]
# Regexes for lines to exclude from consideration
exclude_lines =
  # Have to re-enable the standard pragma
  pragma: no cover

  # Code that is supposed to fail does not need coverage testing
  pytest\.fail

  # This line is only ever used to make tests fail
  ts\.run = False
